@using PagedList.Mvc
@model PagedList.IPagedList<MoneyTransactions.Entities.Account>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function numberWithCommasForRazor(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>


<section class="page-heading remi-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <strong style="color: white;">Admin</strong>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Manage user -->
<!-- Table -->

<div class="container">
    <h4 style="margin-top: 20px;">Danh sách tải khoản</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Tài khoản</td>
                <td>Mật khẩu</td>
                <td>Email</td>
                <td>Số điện thoại</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Password</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                </tr>
            }
        </tbody>
    </table>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount   *@
            @Html.PagedListPager(Model, page => Url.Action("Admin", new { page }))
        </div>
    </div>
</div>


<div class="container">
    <h4>Danh sách các giao dịch</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Giá</td>
                <td>Số lượng</td>
                <td>Tài khoản</td>
                <td>Loại giao dịch</td>
            </tr>
            @foreach (var item in ViewData["InOrder"] as PagedList.IPagedList<MoneyTransactions.Entities.Order>)
            {
        <tr>
            <td>
                @{
                    var s = item.Price;

                    <text>
                        @s.ToString("N", new System.Globalization.CultureInfo("en-US")) VNĐ
                    </text>;
                }
            </td>
            <td>@item.Amount</td>
            <td>@item.Wallet.Account.UserName</td>
            <td>@item.OrderType</td>
        </tr>
            }
        </tbody>
    </table>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount   *@
            @Html.PagedListPager(ViewData["InOrder"] as PagedList.IPagedList<MoneyTransactions.Entities.Order>, page => Url.Action("Admin", new { page }))
        </div>
    </div>
</div>



<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>
