@model MoneyTransactions.Entities.Order

@{
    ViewBag.Title = "Tạo quảng cáo mua mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-heading remi-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <strong style="color: white;">Tạo quảng cáo mua mới</strong>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="box-body text-left" style="padding-top: 30px; padding-bottom: 30px;">
            <form class="form" name="form">
                <div class="form-group coin-selector-wrapper">
                    <label>Change coin</label>
                    <div class="row">
                        <div class="col-sm-7">
                            <select class="form-control coin-selector" id="select_buy_coin" name="selected_bitcoin" onchange="BuyAdSelectedCoin();">
                                <option value="btc" id="bitcointselected" class="btc">Bitcoin</option>
                                <option value="eth" id="ethereumselected" class="eth">Ethereum</option>
                                <option value="xrp" id="rippleselected" class="xrp">Ripple</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*<hr>
                    <div class="offer-details">
                        <h4>Giá</h4>
                        <div class="offer-extra-fields">
                            <div class="form-group price">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-sm-5 col-xs-7"><label>Giá bitUSD</label></div>
                                            <div class="col-sm-4 text-right col-xs-5 value">
                                                <strong>23,229.00 VND / bitUSD</strong>
                                            </div>
                                            <div class="col-sm-3 text-left col-xs-12 text-xs-right">
                                                <a class="btn-change">
                                                    Thay
                                                    đổi
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"><span class="explanation">Giá 1 bitUSD theo VND</span></div>
                                </div>
                            </div>
                            <div class="form-group" data-ng-if="$root.coin_currency != 'usdt'">
                                <div class="form-group price-for-maker">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-sm-5 col-xs-6">
                                                    <label><span>Giá Bitcoin bạn thực nhận</span></label>
                                                </div>
                                                <div class="col-sm-4 text-right col-xs-6 text-xs-right">
                                                    <strong>
                                                        188,162,565 /
                                                        BTC
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <span class="explanation">
                                                <span>
                                                    Đây là giá tương ứng với tỉ giá
                                                    Bitstamp BTC hiện tại (<strong class="text-primary">8100.33</strong>). Giá sẽ
                                                    biến động khi tỉ giá Bitstamp BTC thay đổi.
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <hr>
                <div class="offer-details payment-section">
                    @*<h4>Giá</h4>*@
                    <div class="offer-extra-fields">
                        @*<div class="form-group payment_method">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-sm-5 col-xs-7">
                                                <label>Giá</label>
                                            </div>
                                            <div class="col-sm-4 text-right col-xs-5 value">
                                                <strong>Chuyển khoản ngân hàng</strong>
                                            </div>
                                            <div class="col-sm-3 text-left col-xs-12 text-xs-right">
                                                <a class="btn-change">
                                                    Thay đổi
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"><span class="explanation"></span></div>
                                </div>
                            </div>*@
                        <div class="offer-details">
                            <div class="local-bank-payment-details">

                                <div class="form-group bank_account_name has-feedback">
                                    <label>Tên tài khoản</label> <!-- the user will show in here -->
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="remi-colorized-field undefined">
                                                <input class="form-control"
                                                       id="bank_account_name" name="accountnamebuy"
                                                       readonly="" value="@ViewBag.AccountTradeNameBuy">
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5"></div>
                                    </div>
                                </div>

                                <div class="form-group bank_name has-feedback">
                                    <label>Số lượng mua</label>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="remi-colorized-field has-success">
                                                <input class="form-control"
                                                    id="buyshowcoin" name="amount"
                                                    value="">
                                                @*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @name = "amount" } })
                                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })*@
                                                <div style="padding-top: 5px;">Đơn vị: <span id="showcoin">BTC</span></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-5"></div>
                                    </div>
                                </div>
                                <div>

                                    <div class="form-group bank_account_number has-feedback">
                                        <label>Địa chỉ ví</label>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="remi-colorized-field undefined">
                                                    <input class="form-control" readonly="readonly"
                                                           id="diachivimoneybuy" name="diachivi"
                                                           value="@ViewBag.GetDiaChiViMua"><span></span>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5"></div>
                                        </div>
                                    </div>

                                    <div class="form-group bank_account_number has-feedback">
                                        <label>Giá trị quy đổi (đv: VND)</label>
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="remi-colorized-field undefined">
                                                    <input class="form-control"
                                                           id="buy_price_ad" readonly="readonly" name="giatriquydoi"
                                                           value="@ViewBag.getMoney"><span></span>
                                                    <div></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-5"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"><button type="submit" class="btn-save-offer btn btn-primary">Tạo</button></div>
                <span style="color:red;">@ViewBag.errorMessage</span>
            </form>
        </div>
    </div>
}