@model MoneyTransactions.Entities.Order

@{
    ViewBag.Title = "Detail";
}


<div class="container">
    <div class="panel offer-details otherss">
        <div class="panel-heading">
            <h2>
                Thông tin order của <span style="color: red;">@ViewBag.username</span>
            </h2>

        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center;" width="40%">@Html.DisplayName("Mua từ:")</th>
                    <th style="text-align: center;">
                        @*<a href="#">
                                <u>@Html.DisplayFor(model => model.Wallet.Account.UserName)</u>
                            </a>*@
                        <strong class="offer-price text-success">
                            <span>
                                <span>
                                    @Html.DisplayFor(model => model.Wallet.Account.UserName)
                                </span>
                            </span>
                        </strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayName("Giá:")</td>
                    <td>
                        <strong class="offer-price text-success">
                            <span>
                                <span>
                                    @Html.DisplayFor(model => model.Amount)
                                </span>
                            </span>
                            <span class="slash">/</span>
                            <span class="coin-currency text-btc-color">BTC</span>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayName("Địa chỉ ví")</td>
                    <td>
                        <strong class="offer-price text-success">                            
                            <span class="coin-currency text-btc-color">@Html.DisplayFor(model => model.Wallet.WalletAddress)</span>
                        </strong>
                    </td>
                </tr>
                @*<tr>
                        <td>Phương thức thanh toán</td>
                        <td><span>Chuyển khoản ngân hàng</span><span>: Vietcombank</span></td>
                    </tr>*@
            </tbody>
        </table>
    </div>

    <div class="otherss" style="margin-top: 30px;margin-bottom: 136px;">

        @{
            if (Session["getWalletID"] == null)
            {
                @Html.ActionLink("Mua", "MustLogin", "Account", null, new { @class = "btn btn-success" })
            }
            else
            {
                @Html.ActionLink("Mua", "Buy", "Account", new { sellerID = Model.Wallet.AccountID, buyerID = Session["getWalletID"].ToString(), amount = Model.Amount }, new { @class = "btn btn-success" })
            }
        }

        <br />
        <br />
        <br />
        <p>
            @Html.ActionLink("Back to List", "Index", "Home")
        </p>


    </div>
</div>