@model MoneyTransactions.Entities.Order

@{
    ViewBag.Title = "Detail";
}

<h2>
    Thông tin order của <span style="color: red;">@ViewBag.username</span>
</h2>

<div class="container">   

    <div class="row table">
        <div class="col-xs-2">
            @Html.DisplayName("Amount:")
        </div>
        <div class="col-xs-8">
            @Html.DisplayFor(model => model.Amount)
        </div>
    </div>

    <div class="row table">
        <div class="col-xs-2">
            @Html.DisplayName("UserName:")
        </div>
        <div class="col-xs-8">
            @Html.DisplayFor(model => model.Wallet.Account.UserName)
        </div>
    </div>
    <div class="row table">
        <div class="col-xs-2">
            @Html.DisplayName("Wallet Address")
        </div>
        <div class="col-xs-8">
            @Html.DisplayFor(model => model.Wallet.WalletAddress)
        </div>
    </div>
</div>
<div>
    @{
        if (Session["getWalletID"] == null)
        {
            <button class="btn btn-success">
                @Html.ActionLink("Mua", "Buy", "Account", null, new { @class = "btn btn-success" })
            </button>
        }
        else
        {
            <button class="btn btn-success">
                @Html.ActionLink("Mua", "Buy", "Account", new { sellerID = Model.Wallet.AccountID, buyerID = Session["getWalletID"].ToString(), amount = Model.Amount }, new { @class = "btn btn-success" })
            </button>
        }
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
