
@using PagedList.Mvc
@model PagedList.IPagedList<MoneyTransactions.Entities.Order>



<!-- Ban muon mua bitcoin -->
<div class="sell-offers offer-list-section mb-24">
    <div class="title-accent heading-03">
        <div>
            <span style="font-size: 25px;">
                Bạn muốn <span class="text-success">mua</span> Bitcoin?
            </span>
        </div>
    </div>
</div>

<div class="render-body-bottom">
    <table class="table" style="border: none">
        @foreach (var item in Model)
        {
            if (item.OrderType == MoneyTransactions.Common.OrderCommon.OrderBuy)
            {
                <tbody>
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Amount) BTC</th>
                        <td>@Html.DisplayFor(modelItem => item.Wallet.Account.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Wallet.CryptocurrencyStore.FloorPrice)</td>
                        <td> @Html.ActionLink("Mua", "Details", "Account", new { walletID = item.WalletID }, htmlAttributes: new { @class = "btn btn-info" })</td>
                    </tr>
                </tbody>
            }
        }
    </table>

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount   *@
            @Html.PagedListPager(Model, pageBuy => Url.Action("Index", new { pageBuy }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-with-thick-left-border row flex-row remi-want-better-price px-24 py-16">
            <div class="col-xs-12s px-0 mb-4">
                <span>
                    Muốn giá tốt hơn?
                </span>
            </div>
            <div class="col-xs-12s px-0">
                @Html.ActionLink("Tạo quảng cáo mua", "CreateBuyAd", "Account", new { getMoneyType = "bitcoin" }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>

</div>