@using PagedList.Mvc
@model PagedList.IPagedList<MoneyTransactions.Entities.Order>

@{
    ViewBag.Title = "Trang chủ";
}




<div class="col-xs-12 container render-body-bottom" id="render-body">
    <div class="row" id="render-body">

        <div class="col-xs-12 container">
            <!--Currency Dropdown -->
            <div class="row" id="row-added">
                <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
                    <div class="dropdown" id="dropdown-button">
                        <button class="btn btn-primary dropdown-toggle long-panel" id="" type="button" data-toggle="dropdown">
                            Bitcoin
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="dropdown-added">
                            <li><a id="bitcoinalink" onclick="MoneyBitcoin();">Bitcoin</a></li>
                            <li><a id="ethereumalink" onclick="MoneyEthereum();">Ethereum</a></li>
                            <li><a id="ripplealink" onclick="MoneyRipple();">Ripple</a></li>
                        </ul>
                    </div>

                    <div id="remi-bid-ask-info">
                        <!-- Sell side-->
                        <div class="col-xs-6" id="div-left-sell">
                            <div class="ads-rate-panel-wrapper">
                                <div id="title" class="vertical-middle">Giá bán:</div>
                                <div id="remi-rate">
                                    <span>
                                        <span class="ask-rate" id="forSell"></span>
                                        <span class="currency">VND</span>
                                    </span>
                                </div>
                                @*<a class="btn btn-ask" href="#">Bán ngay</a>*@
                                @Html.ActionLink("Bán ngay", "QuickTrade", "Home", null, new { @class = "btn btn-ask" })
                            </div>
                        </div>

                        <!--Buy side-->
                        <div class="col-xs-6" id="div-left-buy">
                            <div class="ads-rate-panel-wrapper">
                                <div id="title" class="vertical-middle">Giá mua:</div>
                                <div id="remi-rate">
                                    <span>
                                        <span class="bid-rate" id="forBuy"></span>
                                        <span class="currency">VND</span>
                                    </span>
                                </div>
                                @*<a class="btn btn-bid" href="#">Mua ngay</a>*@
                                @Html.ActionLink("Mua ngay", "QuickTrade", "Home", null, new { @class = "btn btn-bid" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-sm-12 render-body-bottom">
        <div class="p-16 cta-box">
            <div class="gift-thumb">
                <div class="icon-gift-alt">
                </div>
            </div>
            <div class="cta-right-column">
                <div class="cta-content">
                    <div class="cta-title">Mời bạn bè</div>
                    <span class="cta-details">
                        <div class="short-description">
                            <span>
                                Nhận ngay <b>0.01 BTC (~ 2,100,000 VND)</b> cho mỗi một người
                                được bạn giới thiệu tham gia Localhost.
                            </span>
                            <div class="block-10">Chia sẻ liên kết sau:</div>
                            <div class="text-sm-center">
                                @Html.ActionLink("Đăng nhập để lấy link giới thiệu", "Login", "Account", null, new { @class = "btn btn-primary btn-sm" })
                            </div>
                        </div>
                    </span>
                </div>
                <div class="cta-button-wrapper">
                    <a href="#" class="btn btn-success cta-button">
                        Tìm hiểu thêm
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Ban muon mua bitcoin -->
    <div class="sell-offers offer-list-section mb-24">
        <div class="title-accent heading-03">
            <div>
                <span style="font-size: 25px;">
                    Bạn muốn <span class="text-success">mua</span> Bitcoin?
                </span>
            </div>
        </div>
    </div>

    <div class="render-body-bottom">
        <table class="table" style="border: none">
            @foreach (var item in Model)
            {
                if (item.OrderType == MoneyTransactions.Common.OrderCommon.OrderSell)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayFor(modelItem => item.Amount) BTC</th>
                            <td>@Html.DisplayFor(modelItem => item.Wallet.Account.UserName)</td>
                            <td class="col-sm-5">@Html.DisplayFor(modelItem => item.Wallet.CryptocurrencyStore.FloorPrice)</td>
                            <td>@Html.ActionLink("Mua", "Details", "Account", new { walletID = item.WalletID, amount = item.Amount }, htmlAttributes: new { @class = "btn btn-info" })</td>
                        </tr>
                    </tbody>
                }
            }
        </table>

        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination" style="margin-left: 400px">
                @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount   *@
                @Html.PagedListPager(Model, pageBuy => Url.Action("Index", new { pageBuy }))
            </div>
        </div>


        <div class="container-fluid">
            <div class="row-with-thick-left-border row flex-row remi-want-better-price px-24 py-16">
                <div class="col-xs-12s px-0 mb-4">
                    <span>
                        Muốn giá tốt hơn?
                    </span>
                </div>
                <div class="col-xs-12s px-0">
                    @Html.ActionLink("Tạo quảng cáo mua", "CreateBuyAd", "Account", new { getMoneyType = "bitcoin" }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>

    </div>


    <!--For sell-->
    <!-- Danh muc ban -->
    <!-- Ban muon mua bitcoin -->
    <div class="sell-offers offer-list-section mb-24">
        <div class="title-accent heading-03">
            <div>
                <span style="font-size: 25px;">
                    Bạn muốn <span class="text-danger">bán</span> Bitcoin?
                </span>
            </div>
        </div>
    </div>

    <div class="render-body-bottom">
        <table class="table" style="border: none">
            @foreach (var item in Model)
            {
                if (item.OrderType == MoneyTransactions.Common.OrderCommon.OrderBuy)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayFor(modelItem => item.Amount) BTC</th>
                            <td>@Html.DisplayFor(modelItem => item.Wallet.Account.UserName)</td>
                            <td class="col-sm-5">@Html.DisplayFor(modelItem => item.Wallet.CryptocurrencyStore.FloorPrice)</td>
                            <td>@Html.ActionLink("Bán", "Details", "Account", new { amount = item.Amount, walletID = item.WalletID }, htmlAttributes: new { @class = "btn btn-info" })</td>
                        </tr>
                    </tbody>
                }
            }
        </table>

        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination" style="margin-left: 400px">
                @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount *@
                @Html.PagedListPager(Model, pageSell => Url.Action("Index", new { pageSell }))
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-with-thick-left-border row flex-row remi-want-better-price px-24 py-16">
                <div class="col-xs-12s px-0 mb-4">
                    <span>
                        Muốn giá tốt hơn?
                    </span>
                </div>
                <div class="col-xs-12s px-0">
                    @Html.ActionLink("Tạo quảng cáo bán", "CreateSellAd", "Account", new { getMoneyType = "bitcoin" }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>



</div>