@model IEnumerable<MoneyTransactions.DAL.Order>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12 render-body-bottom">
    <div class="p-16 cta-box">
        <div class="gift-thumb">
            <div class="icon-gift-alt">
            </div>
        </div>
        <div class="cta-right-column">
            <div class="cta-content">
                <div class="cta-title">Mời bạn bè</div>
                <span class="cta-details">
                    <div class="short-description">
                        <span>
                            Nhận ngay <b>0.01 BTC (~ 2,100,000 VND)</b> cho mỗi một người
                            được bạn giới thiệu tham gia Localhost.
                        </span>
                        <div class="block-10">Chia sẻ liên kết sau:</div>
                        <div class="text-sm-center">
                            @Html.ActionLink("Đăng nhập để lấy link giới thiệu", "Login", "Account", null, new { @class = "btn btn-primary btn-sm" })
                        </div>
                    </div>
                </span>
            </div>
            <div class="cta-button-wrapper">
                <a href="#" class="btn btn-success cta-button">
                    Tìm hiểu thêm
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Ban muon mua bitcoin -->
<div class="sell-offers offer-list-section mb-24">
    <div class="title-accent heading-03">
        <span>
            <div class="icon-flag-squared svg-icon icon-secondary icon-24">
                <svg>
                    <use xlink:href="#flag-squared"></use>
                </svg>
            </div>
            <span>
                Bạn muốn <span class="text-warning">mua</span> Bitcoin?
            </span>
        </span>
    </div>
</div>

<div class="render-body-bottom">
    <table class="table" style="border: none">
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Amount)</th>
                    <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Account.Username)</td>
                    <td> @Html.ActionLink("Mua", "#", new { id = item.AccountID }, htmlAttributes: new { @class = "btn btn-info" })</td>
                </tr>
            </tbody>
        }
    </table>
</div>

<!-- Danh muc ban -->
<!-- Ban muon mua bitcoin -->
<div class="sell-offers offer-list-section mb-24">
    <div class="title-accent heading-03">
        <span>
            <div class="icon-flag-squared svg-icon icon-secondary icon-24">
                <svg>
                    <use xlink:href="#flag-squared"></use>
                </svg>
            </div>
            <span>
                Bạn muốn <span class="text-success">bán</span> Bitcoin?
            </span>
        </span>
    </div>
</div>

<table class="table">
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Amount)</th>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Account.Username)</td>
                <td> @Html.ActionLink("Mua", "#", new { id = item.AccountID }, htmlAttributes: new { @class = "btn btn-info" })</td>
            </tr>
        </tbody>
    }
</table>

